name: Build and Push Docker Image
on:
  push:
    branches:
    - main
    paths:
      - 'app/**'
      - 'Dockerfile'


jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install lint tools
        run: pip install flake8 black isort

      - name: Run flake8
        run: flake8 app/

      - name: Check black
        run: black --check app/

      - name: Check isort
        run: isort --check-only app/


  build:
    needs: lint
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lowercase repository name
        id: repo
        run: echo "repository_low=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ steps.repo.outputs.repository_low }}:${{ github.sha }}
            ghcr.io/${{ steps.repo.outputs.repository_low }}:latest
